body{

color:#02000d;
margin-left: 10px;
padding-top: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.titre{
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
    
    
}